
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<h2>Index</h2>

<h2>Before PartialView</h2>
<hr />
    @Html.Partial("PartialPage", 1)
<hr />
@{
    Html.RenderPartial("PartialPage", 2);
}
<hr />
<h2>After PartialView</h2>